{% set title = 'Account Profile' %}

{% extends 'src/FrontEnd/layouts/master.html' %}

{% block content %}
<div class="pagetitle">
    <h1>Form Elements</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Elements</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">General Form Elements</h5>

                    <!-- General Form Elements -->
                    <form onsubmit="return false" id="FormId">
                        <div class="row">
                            {% for key, value in columnData %}
                            <div class="col-md-12">
                                <label class="col-md-4 col-form-label">{{value.HtmlTags.Show.title}}</label>

                                <div class="col-md-8">
                                    <input name="{{key}}" type="text" class="form-control" placeholder="Enter {{key}}"
                                        autocomplete="off" {{ value.HtmlTags.Create.RequiredTag }} {{ value.HtmlTags.Create.AutoFocusTag }}>
                                    <div class="invalid-feedback">
                                        Should not be Empty!!
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-sm-10">
                                <button id="SaveButtonId" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                    <!-- End General Form Elements -->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="module" src="../assets/static/js/pages/CreateClientCheck/StartFunc.js"></script>
{% endblock %}